<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>鯉カメラ</title>
</head>
<body>
  {% extends "bootstrap/base.html" %}

  {% block navbar %}
  <div class="navbar navbar-fixed-top">
    <!-- ... -->
  </div>
  {% endblock %}

  {% block content %}
  <div>
    <div class="text-center">
      <img src="/video" width="810" height="540"/>
    </div>
    <div class="text-center">
      <form action="/save" method="GET">
        <input type="submit" class="btn btn-primary btn-lg" value="撮影">
      </form>
    </div>
    <button type="button" class="btn btn-primary btn-lg"
          style="margin: 5px;"
          onclick="changeImage('tai')">画像変更</button>
    <button type="button" class="btn btn-primary btn-lg"
          style="margin: 5px;"
          onclick="changeImage('esa_agenaide')">画像変更</button>
  </div>
  <script>
    changeImage = (imageName) => {
      // flaskで作成したAPIから画像を取得する
      fetch('/koiChange/' + imageName)
      .then(function (response) {
        windows.alart('change')
        return;
      });
    }
  </script>
  {% endblock %}
</body>
</html>